html {
  font-size: 16px;
  background-color: cadetblue;
}
body { margin: 0; }

h1, h2, h3, p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

h1 { font-size: 1.5rem; }


.header {
  width: 100vw;
  background-color: white;
  margin-bottom: 16px;

  > .header-container {
    box-sizing: border-box;
    max-width: 1080px;
    padding: 16px;
    margin: 0 auto;
    > h1 { margin-bottom: 0; }
  }
}

#offices{
  max-width: 1080px;
  width: 100vw;
  min-height: calc(100vh - 134px);
  background-color: transparent;
  margin: 0 auto;

  > .office {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 16px;
  }
}